---
---

@import "bootstrap";
@import "custom";
@import "pre-header";
@import "header";
@import "work";

.brand-img {
  max-height: 30px;
}

.temp-about-section {
  margin-top: 200px;
  h1, h2 {
    text-align: center;
  }
    margin-bottom: 200px;
}
.communication {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
