<section class="pre-header">
  <div class="pre-header-text">
    <h1>{ garret_s }</h1>
  </div>
  <h4>👇🏼</h4>
</section>
<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="brand-img" alt="Brand" src="/css/assets/devDad.png">
      </a>
      <div class="site-nav">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#about">About</a></li>
          <li role="presentation"><a href="#">Work</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
-->
