<section class="pre-header">
  <div class="pre-header-text">
    <h1>{ garret_s }</h1>
  </div>
  <h4>👇🏼</h4>
</section>
<header class="main_h">

    <div class="row">
        <a class="logo" href="#">G/S</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="#temp-about">Hi!</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
