<section id="temp-about" class="temp-about-section">
  <div class="temp-about-container">

    <h1 class="splash-text"> Hi! 👋🏻 </h1>
    <div class="img-container">
      <img class="center-block img-circle" src="css/assets/icon-425.png" />
    </div>
    <h2 class="splash-text"> More will be here ... soon. 🔨 🚧 ⚠️ 😬 </h2>
    <div class="communication">
      <a href="https://twitter.com/garret_s">@garret_s</a>
    </br>
      <a href="mailto:garretbsaarinen@gmail.com">garretbsaarinen@gmail.com</a>
    </div>


  </div>
</section>
