<section id="temp-about" class="temp-about-section">
  <div class="temp-about-container">

    <h1 class="splash-text wave">Hi👋🏻</h1>
    <div class="img-container">
      <img class="center-block img-circle" src="css/assets/icon-425.png" />
    </div>
    <div class="lead-text">
      <h1 class="splash-text"> My name is Garret - </h1>
      <h1 class="splash-text"> I'm learning how to build cool stuff on the internet.</h1>
      <h2 class="splash-text">🔨 🚧 ⚠️ 😬</h2>
    </br>
    </br>
      <h1 class="splash-text">I will put more up here soon...</h1>
    </div>
  </div>
</section>
